@model WebApplication1.ViewModels.ChangePasswordVM
@{
    ViewData["Title"] = "Đổi mật khẩu";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Đổi mật khẩu</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Đổi mật khẩu</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Change Password start -->
@* enctype="multipart/form-data": có cái này mới lấy được hình hi up ảnh *@
<div class="container-fluid py-5">
    <div style="background: url('../img/hero-img.jpg') !important;">
        <div class="container py-5">
            <h1 class="mb-4 d-flex justify-content-center">Đổi mật khẩu</h1>
            <form asp-action="changePassword" asp-controller="ProfileUser" enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-7">
                        <div class="form-item">
                            <label asp-for="@Model.oldMatKhau" class="form-label my-3"></label><sup>*</sup>
                            <input asp-for="@Model.oldMatKhau" type="password" class="form-control">
                            <span class="text-danger" asp-validation-for="@Model.oldMatKhau"></span>
                        </div>
                        <div class="form-item">
                            <label asp-for="@Model.newMatKhau" class="form-label my-3"></label><sup>*</sup>
                            <input asp-for="@Model.newMatKhau" type="password" class="form-control">
                            <span class="text-danger" asp-validation-for="@Model.newMatKhau"></span>
                        </div>
                        <div class="form-item">
                            <label asp-for="@Model.renewMatKhau" class="form-label my-3"></label><sup>*</sup>
                            <input asp-for="@Model.renewMatKhau" type="password" class="form-control">
                            <span class="text-danger" asp-validation-for="@Model.renewMatKhau"></span>
                        </div>
                        <div class="form-group btn">
                            <input type="submit" value="Save" class="btn btn-default btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Change Password end -->
